<form>
  <label for="url">URL:
    <input type="text" name="feed[url]" value="">
  </label>
  <label for="title">Title:
    <input type="text" name="feed[title]" value="">
  </label>
  <input type="submit" value="Submit">
</form>
