<div id='pokedex'>
  <div class='pokemon-index'>
    <div class='pokemon-form'></div>
    <ul class='pokemon-list'>
      <!-- get all pokemon and make li dom elements and insert -->
    </ul>
  </div><div class='pokemon-detail'></div><div class='toy-detail'></div>
</div>
