<div class="header">
  <a href="#" class='footer-link' id='index-link'><h1>NewsReader App</h1></a>
</div>
<div id='content'></div>

<div class="footer">
  <a href="#" class='footer-link' id='index-link'>Feeds Index</a>
  <a href="#/feeds/new" class='footer-link' id='new-link'>Add Feed</a>
</div>
<script></script>
